body {
  height: 100vh;
  margin: 0px;
  padding: 16px;
  background: rgb(51, 102, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  width: 1000px;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
}


.grid-row {
  display: flex;
  flex: 1;
}

.square {
  opacity: 0;
  flex: 1;
}

.clear-button,
.new-grid-button {
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}