body {
  margin: 0px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.square {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  /* for debugging - remove when done */
}

.clear-button {
  margin-top: 30px;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}